CompileFlags:
    BuiltinHeaders: QueryDriver
    Add:
        [
            "--target=arm-none-eabi",
            "-std=gnu23",
            "-mcpu=cortex-a9",
            "-mfpu=neon",
            "-mfloat-abi=hard",
            "-fno-pic",
            "-fno-exceptions",
            "-fno-rtti",
            "-funwind-tables",
            "-isystem",
            "toolchain/lib/clang-runtimes/arm-none-eabi/include",
            # 2nd version is for when CWD is in vexc-sys
            "-isystem",
            "../toolchain/lib/clang-runtimes/arm-none-eabi/include",
        ]
