[target.'cfg(target_os = "vexos")']
rustflags = [
    "-Clink-arg=-Tvexide.ld",
    "-Clink-arg=--target=armv7a-none-eabihf",
    "-Clink-arg=-mcpu=cortex-a9",
    "-Clink-arg=-nostartfiles",
    "-Clink-arg=-lc",
]
linker = "clang"

[unstable]
build-std = ["std", "panic_abort"]
build-std-features = ["compiler-builtins-mem"]

[env]
TARGET_CFLAGS = "-mcpu=cortex-a9 -ftls-model=local-exec -fno-pic"
